<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>dohomework-pinglun</title>
</head>

<body>
    <div id="app">
        <el-input disabled v-model="courseName" placeholder="请输入课程"></el-input>
        <el-input disabled v-model="courseUnit" placeholder="请输入单元"></el-input>
        <el-input disabled v-model="clazzName" placeholder="请输入班级"></el-input>
        <el-input disabled v-model="teacherName" placeholder="请输入讲师"></el-input>
        <el-input disabled v-model="studentName" placeholder="请输入学生"></el-input>
        <br>

        
        <el-input type="textarea" v-model="abstractContent" placeholder="请输入对作业的评论"></el-input>
        <br>
        <el-button type="primary" @click="handleSubmitClick">提交</el-button>
    </div>

<body>
    

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/test-downloadin.js"></script>

</body>

</html>